body {
  background-color: rgb(29, 83, 159);
}

.App {
  text-align: center;
  color: white;
  position: relative;
}

.resumeSection {
  background-color: white;
  padding: 10px;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 20px;
  color: black;
  position: relative;
}

.resumeSection p {
  font-style: italic;
}

button {
  padding: 10px;
  border-radius: 4px;
  background-color: rgb(248 185 42);
}

.incorrect {
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-style: wavy;
  position: relative;
  cursor: pointer;
}

.tooltip {
  display: none;
  position: absolute;
  background: #f0f0f0;
  border: 1px solid #ccc;
  padding: 2px 5px;
  color: #000;
  top: 100%;
  left: 0;
  z-index: 10;
}

.incorrect:hover > .tooltip {
  display: block;
}

.sidebar {
  position: fixed;
  right: -400px;

  top: 0;
  width: 350px;
  height: 100%;
  background-color: #f9f9f9;
  border-left: 1px solid #ddd;
  padding: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: right 0.3s;
  z-index: 1000;
  color: black;
}

.sidebar.open {
  right: 0;
}

.close-btn {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.suggestion {
  margin-bottom: 10px;
}

.suggestion p {
  display: inline-block;
  margin: 0;
}

.suggestion button {
  margin-left: 10px;
}

.open-sidebar-btn {
  position: absolute;
  bottom: 2%;
  right: 2%;
}
